const React = require('react');
module.exports = {
  clearMocks: true,
  verbose: false,
  collectCoverageFrom: ['src/**/*.{js,jsx}'],
  globals: {
    "React": React
  },
  testEnvironment: "jsdom",
  moduleDirectories: [
    "src",
    "node_modules"
  ],
  moduleNameMapper: {
    "\\.(css|scss)$": "<rootDir>/mocks/styleMock.js",
    "\\.(jpg|gif|ttf|eot|svg)$": "<rootDir>/mocks/fileMock.js",
    "@/(.*)$": "<rootDir>/src/",
    "Components/(.*)$": "<rootDir>/src/components/$1"
  },
  modulePathIgnorePatterns: [
    "<rootDir>/src/components/app",
    "<rootDir>/src/globalregister.jsx",
    "<rootDir>/node_modules"
  ],
  transform: {
    "^.+\\.(js|jsx)$": "babel-jest",
    ".+\\.(css|style|less|sass|scss)$": "<rootDir>/node_modules/jest-css-modules-transform"
  },
  testPathIgnorePatterns: [
    "<rootDir>/node_modules"
  ],
  setupFilesAfterEnv: ["<rootDir>/setupTests.js"],
  moduleFileExtensions: [
    "js",
    "jsx",
    "scss"
  ]
};
